<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <!--注意：vue-resource.js依赖vue，所以注意先后顺序-->
    <script src="./lib/vue-resource.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css" />
</head>
<body>
    <div id="app">
       
       <div class="panel panel-primary">
           <div class="panel-heading">
              添加品牌
           </div>
           <div class="panel-body form-inline">
                <label>Name:
                    <input type="text" class="form-control" v-model="name">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="add()">
           </div>
       </div>
       
       <table class="table table-hover table-bordered table-striped">
           <thead>
               <tr>
                   <th>Id</th>
                   <th>Name</th>
                   <th>Ctime</th>
                   <th>OPeration</th>
               </tr>
           </thead>
           <tbody>
               <tr v-for="(item,i) in list" :key="item.ID">
                   <td>{{item.ID}}</td>
                   <td>{{item.NAME}}</td>
                   <td>{{item.CTIME}}</td>
                   <td><a href="" @click.prevent="del(item.ID)">删除</a></td>
               </tr>
           </tbody>
       </table>
       

    </div>


    <script>
        //如果我们通过全局配置，请求的数据接口 根路径 则每次发起http请求，
        //请求的路径url 应该以相对路径开头 前面不带 / 否则会启动根路径做拼接
        Vue.http.options.root="http://localhost:3000/";

        Vue.http.options.emulateJSON = true;

        var vm = new Vue({
            el:"#app",
            data:{
                name:"",
                list:[
                    {ID:1,NAME:"红旗",CTIME:new Date()}
                ]               
            },
            methods:{
               getAllList(){//由于已经导入了vue-resource这个包，所以，可以通过可以通过this.$http发起请求
                    this.$http.get("api/getallbrand").then(result=>{
                        //通过this.$http获取的数据 都在result.body中放着
                        var info = result.body;
                        if(info.success ==0)
                        {
                            console.log(info.result);
                            this.list = info.result;
                        }else{
                            console.log("未取得数据！")
                        }
                    });
               }, 
               add(){
                    // this.$http.post("api/addbrand",{name:this.name},{emulateJSON:true}).then(result=>{
                    //     var info = result.body;
                    //     if(info.success ==0)
                    //     {
                    //         this.getAllList();
                    //     }else{
                    //         console.log("添加失败！")
                    //     }   
                    // });
                    this.$http.post("api/addbrand",{name:this.name}).then(result=>{
                        var info = result.body;
                        if(info.success ==0)
                        {
                            this.getAllList();
                        }else{
                            console.log("添加失败！")
                        }   
                    });
               },
               del(id){
                this.$http.post("api/delbrand",{delid:id},{emulateJSON:true}).then(result=>{
                        var info = result.body;
                        if(info.success ==0)
                        {
                            this.getAllList();
                        }else{
                            console.log("删除失败！")
                        }   
                    }); 
               }
            },
            created() { //vm实例的data和methods初始化完成，vm实例会自动执行created这个生命周期函数
                this.getAllList();
            },
        });
    </script>
</body>
</html>

